## RDDs and DataFrames

* We will use the same datasets that we saw in class to practice performing operations on Data_Frames and RDD's

In [11]:
# this is creating a spark context which is an abstraction of a cluster
# this is creating a spark context which is an abstraction of a cluster

import findspark

findspark.init()

import pyspark

from pyspark.sql import SparkSession

sc = pyspark.SparkContext.getOrCreate()

sc

In [12]:
from pyspark.sql.types import Row
from datetime import datetime

### 1. Create an RDD using sc.parallelize() containing a list of list. Each internal list should be made in the form [your_name, age, bootcamp_location, background studies] . For example [Pedro, 27, Lisbon, Physics]. Create 5 people in this RDD (can be your colleagues for example)

In [13]:
# this is making an RDD from a python list of lists.

data = sc.parallelize([["Ilse", 26, "Berlin", "Engineer"], ["Sergio", 31, "no bootcamp", "Engineer"], ["Pedro", 27, "Lisbon", "Physics"], ["Robert", 28, "Berlin", "idk"]])

In [16]:
# count the number of elements in your list

data.count()

4

In [18]:
# return all the elements in your list (which method is the best to apply this on an RDD?)

data.collect()

[['Ilse', 26, 'Berlin', 'Engineer'],
 ['Sergio', 31, 'no bootcamp', 'Engineer'],
 ['Pedro', 27, 'Lisbon', 'Physics'],
 ['Robert', 28, 'Berlin', 'idk']]

In [19]:
# would the method .show() work? briefly explain.

"""no, we need to convert it into a dataframe to show the information"""

AttributeError: 'RDD' object has no attribute 'show'

In [20]:
# convert your RDD to a spark dataframe, works fine? 

df = data.toDF()

In [21]:
# now try running again the show method, works?

df.show()

+------+---+-----------+--------+
|    _1| _2|         _3|      _4|
+------+---+-----------+--------+
|  Ilse| 26|     Berlin|Engineer|
|Sergio| 31|no bootcamp|Engineer|
| Pedro| 27|     Lisbon| Physics|
|Robert| 28|     Berlin|     idk|
+------+---+-----------+--------+

In [10]:
# create the same RDD as above but directly using the Row method. save it to a variable called data

In [11]:
# now run the following commands, what is the difference?
df = data.toDF()
df.show()

In [22]:
# lets now create a more complex structure. Use the same initial RDD as above (the first one I asked you to create)
# but now I want the last field to be a list of strings, where each element represents a country the person has lived i
# you can make up countries for your colleagues if you are unsure, or use this as a opportunity to talk to them :) 

# store the result in complex_data variable

complex_data = sc.parallelize([["Ilse", 26, "Berlin", ["Mexico", "France", "Germany", "Belgium"]], ["Sergio", 31, "no bootcamp", ["Mexico", "Belgium", "Germany"]], ["Pedro", 27, "Lisbon", ["Portugal"]], ["Robert", 28, "Berlin", ["Hungary", "Germany"]]])

In [23]:
# now run this command and voil√†!
complex_data_df = complex_data.toDF()
complex_data_df.show()

+------+---+-----------+--------------------+
|    _1| _2|         _3|                  _4|
+------+---+-----------+--------------------+
|  Ilse| 26|     Berlin|[Mexico, France, ...|
|Sergio| 31|no bootcamp|[Mexico, Belgium,...|
| Pedro| 27|     Lisbon|          [Portugal]|
|Robert| 28|     Berlin|  [Hungary, Germany]|
+------+---+-----------+--------------------+

### Manipulating Spark DataFrames

In [ ]:
from pyspark.sql import SparkSession

#create a spark session called "soccer players lab" as we did in class

spark = SparkSession.builder.appName("soccer players lab").getOrCreate()

In [27]:
# run the line of code below to read the players dataset
# load the players csv into a datafrane called players

players = spark.read.format("csv").option("header", "true").load("../datasets/player.csv")

players.show()

+---+-------------+--------------------+------------------+-------------------+------+------+
| id|player_api_id|         player_name|player_fifa_api_id|           birthday|height|weight|
+---+-------------+--------------------+------------------+-------------------+------+------+
|  1|       505942|  Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|  2|       155782|     Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|  3|       162549|         Aaron Doran|            186170|1991-05-13 00:00:00|170.18|   163|
|  4|        30572|       Aaron Galindo|            140161|1982-05-08 00:00:00|182.88|   198|
|  5|        23780|        Aaron Hughes|             17725|1979-11-08 00:00:00|182.88|   154|
|  6|        27316|          Aaron Hunt|            158138|1986-09-04 00:00:00|182.88|   161|
|  7|       564793|          Aaron Kuhl|            221280|1996-01-30 00:00:00|172.72|   146|
|  8|        30895|        Aaron Lennon|            152747|1987-04-16 00:00:00| 165.1|   139|
|  9|       528212|        Aaron Lennox|            206592|1993-02-19 00:00:00| 190.5|   181|
| 10|       101042|       Aaron Meijers|            188621|1987-10-28 00:00:00|175.26|   170|
| 11|        23889|       Aaron Mokoena|             47189|1980-11-25 00:00:00|182.88|   181|
| 12|       231592|          Aaron Mooy|            194958|1990-09-15 00:00:00|175.26|   150|
| 13|       163222|      Aaron Muirhead|            213568|1990-08-30 00:00:00|187.96|   168|
| 14|        40719|        Aaron Niguez|            183853|1989-04-26 00:00:00|170.18|   143|
| 15|        75489|        Aaron Ramsey|            186561|1990-12-26 00:00:00| 177.8|   154|
| 16|       597948|       Aaron Splaine|            226014|1996-10-13 00:00:00|172.72|   163|
| 17|       161644|Aaron Taylor-Sinc...|            213569|1991-04-08 00:00:00|182.88|   176|
| 18|        23499|     Aaron Wilbraham|              2335|1979-10-21 00:00:00| 190.5|   159|
| 19|       120919|   Aatif Chahechouhe|            187939|1986-07-02 00:00:00|175.26|   150|
| 20|        46447|           Abasse Ba|            156626|1976-07-12 00:00:00|187.96|   185|
+---+-------------+--------------------+------------------+-------------------+------+------+
only showing top 20 rows

In [29]:
# sort the dataframe by height of players, in ascending order (if Peter Crouch comes first, you did it wrong :P )

players.sort("height").show()

+----+-------------+--------------------+------------------+-------------------+------+------+
|  id|player_api_id|         player_name|player_fifa_api_id|           birthday|height|weight|
+----+-------------+--------------------+------------------+-------------------+------+------+
|5453|        97226|          Juan Quero|            171126|1984-10-17 00:00:00|157.48|   117|
|7258|        29587|        Maxi Moralez|            183895|1987-02-27 00:00:00|160.02|   126|
|2612|       103139|    Diego Buonanotte|            170719|1988-04-19 00:00:00|160.02|   123|
|2857|       278917|         Edgar Salli|            205753|1992-08-17 00:00:00|162.56|   141|
|1084|        30691|         Bakari Kone|            137113|1981-09-17 00:00:00|162.56|   134|
|8686|        46891|       Quentin Othon|            179794|1988-03-27 00:00:00|162.56|   141|
|9441|       364813|      Samuel Asamoah|            213228|1994-03-23 00:00:00|162.56|   132|
|3446|       215412|        Fouad Rachid|            201504|1991-11-15 00:00:00|162.56|   126|
| 832|        11327|      Anthony Deroin|             51121|1979-03-15 00:00:00|162.56|   146|
|3584|       143752|Frederic Sammaritano|            187988|1986-03-23 00:00:00|162.56|   146|
|6212|       193441|     Lorenzo Insigne|            198219|1991-06-04 00:00:00|162.56|   130|
|8263|        46384|        Pablo Piatti|            183899|1989-03-31 00:00:00|162.56|   139|
| 317|       664961|         Aldo Kalulu|            230079|1996-01-21 00:00:00| 165.1|   126|
| 328|        45220|Alejandro Daro Gomez|            143076|1988-02-15 00:00:00| 165.1|   150|
|2947|       352394|          Elson Hooi|            209447|1991-10-01 00:00:00| 165.1|   141|
| 993|        38842|         Arthur Boka|             49116|1983-04-02 00:00:00| 165.1|   143|
|3648|        36552|        Gaetan Krebs|            163662|1985-11-18 00:00:00| 165.1|   139|
|5992|       111190|               Laure|            188930|1985-03-22 00:00:00| 165.1|   150|
| 355|       306158| Aleksander Jagiello|            213157|1995-02-02 00:00:00| 165.1|   132|
|1480|       163840|             Caetano|            199931|1991-04-20 00:00:00| 165.1|   123|
+----+-------------+--------------------+------------------+-------------------+------+------+
only showing top 20 rows

In [30]:
# now read the player attributes dataframe like we did in class. store it inside a variable called player_attributes

player_attributes = spark.read\
                         .format("csv")\
                         .option("header", "true")\
                         .load("../datasets/player_attributes.csv")

In [32]:
player_attributes.printSchema()

root
 |-- id: string (nullable = true)
 |-- player_fifa_api_id: string (nullable = true)
 |-- player_api_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- overall_rating: string (nullable = true)
 |-- potential: string (nullable = true)
 |-- preferred_foot: string (nullable = true)
 |-- attacking_work_rate: string (nullable = true)
 |-- defensive_work_rate: string (nullable = true)
 |-- crossing: string (nullable = true)
 |-- finishing: string (nullable = true)
 |-- heading_accuracy: string (nullable = true)
 |-- short_passing: string (nullable = true)
 |-- volleys: string (nullable = true)
 |-- dribbling: string (nullable = true)
 |-- curve: string (nullable = true)
 |-- free_kick_accuracy: string (nullable = true)
 |-- long_passing: string (nullable = true)
 |-- ball_control: string (nullable = true)
 |-- acceleration: string (nullable = true)
 |-- sprint_speed: string (nullable = true)
 |-- agility: string (nullable = true)
 |-- reactions: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- shot_power: string (nullable = true)
 |-- jumping: string (nullable = true)
 |-- stamina: string (nullable = true)
 |-- strength: string (nullable = true)
 |-- long_shots: string (nullable = true)
 |-- aggression: string (nullable = true)
 |-- interceptions: string (nullable = true)
 |-- positioning: string (nullable = true)
 |-- vision: string (nullable = true)
 |-- penalties: string (nullable = true)
 |-- marking: string (nullable = true)
 |-- standing_tackle: string (nullable = true)
 |-- sliding_tackle: string (nullable = true)
 |-- gk_diving: string (nullable = true)
 |-- gk_handling: string (nullable = true)
 |-- gk_kicking: string (nullable = true)
 |-- gk_positioning: string (nullable = true)
 |-- gk_reflexes: string (nullable = true)

In [35]:
# I used to be a goalkeeper growing up so lets analyze goalkeepers . Sort the players by goal keeper diving in descending order
# this should allows us to obtain the goalkeepers only... and Neymar

goal_keepers = player_attributes.sort("gk_diving")

In [ ]:
# now create a new sparkdataframe which only contains players

In [ ]:
# create a score of the weighted average of the goalkeeping skills goal it gk_grade

In [ ]:
# now let's select young talents only, so I want the top 40 goalkeepers from the latest season who are no older than 26

In [ ]:
# sort them by descending gk_grade and tell me who Benfica should hire for the goal :)

In [ ]:
# who do you think was the best goalkeeper of all time? For me my hero was Fabien Barthez from Manchester United

# find him in the dataset and calculate his gk_score over the years. How did it evolve?

In [ ]:
# BONUS: want to practice acumulators? from your top goalkeepers tier them in height bins

### Exploring SparkSql - soccer data

In [14]:
# now let's practice a similar analysis but with SQL

In [ ]:
# using the initial object from the CSV file create a temporary view so we can perform SQL query on it

In [ ]:
# perform a basic select * query of all fields of your new table

In [ ]:
# perform a SQL query thart only returns that players that have "suarez" in their name.

In [ ]:
# are there any players with the same birthday as yours?

In [ ]:
# now load the players attributed table into a sql temporary table as well

In [ ]:
# tough challenge: let's build a mini product: it allows you to select two players, a feature of skill and the result
# is a table where you can see side by side, in the years that both players played how each player evolved in that feature

# shall we do a classic Messi vs Ronaldo?

name_1 = "Lionel Messi"
name_2 = "Cristiano Ronaldo"